<h2>Button</h2>

<div style="display: inline-block; border: 3px solid; border-radius: 1px;" [style.borderColor]="colorCurrent()" [style.backgroundColor]="colorCurrent()">
    <button w98w-wbutton [style.width.px]="200" (click)="colorClick()">fixed width (click me!)</button>
</div>

<p></p>

<div>
    <button w98w-wbutton [style.width.px]="180" [style.height.px]="50">fixed width and height with super long text</button>
</div>

<p></p>

<div>
    <button w98w-wbutton>auto</button>
    <button w98w-wbutton>size</button>
</div>

<p></p>

<div>
    <button w98w-wbutton extraLabel="icon">
        <img class="w98w-pixelimg" src="/assets/w98w/start-win.png" wbuttonBody>
    </button>
</div>

<p></p>

<div>
    <button w98w-wbutton>
        <img class="w98w-pixelimg" src="/assets/w98w/start-win.png" wbuttonBody>
    </button>
</div>

<p></p>

<div [style.maxWidth.px]="500">
    <w98w-titlebar
        label="Control Panel - Add and Remove Programs"
        iconSrc="/assets/w98w/greenbox.png"
        style="resize: horizontal; overflow: auto;">
    </w98w-titlebar>
</div>

<p></p>

<div [style.maxWidth.px]="500" style="display: flex; align-items: center; gap: 2px;">
    <button w98w-wbutton>a button for comparison</button>
    <w98w-titlebar
        label="Form1"
        iconSrc="/assets/w98w/vbicon.png"
        style="flex: 1;"
        >
    </w98w-titlebar>
</div>

<p></p>

<div [style.maxWidth.px]="500" style="display: flex; align-items: center; gap: 2px;">
    <button w98w-wbutton extraLabel="hello">
        <img src="/assets/w98w/vbicon.png" wbuttonBody style="height: 1em;">
    </button>
    <w98w-titlebar
        label="NCK"
        iconSrc="/assets/w98w/vbicon.png"
        style="flex: 1;"
        >
    </w98w-titlebar>
</div>

<p></p>

<div [style.maxWidth.px]="500" style="display: flex; align-items: center; gap: 2px;">
    <li w98w-menu-item="Programs" [debugShowSubMenuIndicator]="true" iconImgSrc="/assets/w98w/vbicon.png"></li>
    <w98w-titlebar
        label="Yeet"
        iconSrc="/assets/w98w/vbicon.png"
        style="flex: 1;"
        >
    </w98w-titlebar>
</div>
