<h2>Button</h2>

<div style="display: inline-block; border: 3px solid; border-radius: 1px;" [style.borderColor]="colorCurrent()">
    <a w98w-wbutton [style.width.px]="200" (click)="colorClick()">fixed width (click me!)</a>
</div>

<p></p>

<div>
    <a w98w-wbutton [style.width.px]="180" [style.height.px]="50">fixed width and height with super long text</a>
</div>

<p></p>

<div>
    <a w98w-wbutton>auto</a>
    <a w98w-wbutton>size</a>
</div>

<p></p>

<div>
    <a w98w-wbutton extraLabel="icon">
        <img class="w98w-pixelimg" src="/assets/w98w/start-win.png" wbuttonBody>
    </a>
</div>

<p></p>

<div>
    <a w98w-wbutton>
        <img class="w98w-pixelimg" src="/assets/w98w/start-win.png" wbuttonBody>
    </a>
</div>

<p></p>

<div [style.maxWidth.px]="500">
    <w98w-titlebar [debugMode]="true" iconSrc="/assets/w98w/vbicon.png">
        Control Panel - Add and Remove Programs
    </w98w-titlebar>
</div>

<p></p>

<div [style.maxWidth.px]="500">
    <w98w-titlebar iconSrc="/assets/w98w/vbicon.png">
        Control Panel - Add and Remove Programs
    </w98w-titlebar>
</div>
