<h2>Button</h2>

<div>
    <w98w-wbutton [width]="200">fixed width</w98w-wbutton>
</div>

<p></p>

<div>
    <w98w-wbutton [width]="180" [height]="50">fixed width and height with super long text</w98w-wbutton>
</div>

<p></p>

<div>
    <w98w-wbutton>auto</w98w-wbutton>
    <w98w-wbutton>size</w98w-wbutton>
</div>

<p></p>

<div>
    <w98w-wbutton extraLabel="icon">
        <img class="w98w-pixelimg" src="/assets/w98w/start-win.png" wbuttonBody>
    </w98w-wbutton>
</div>

<p></p>

<div>
    <w98w-wbutton>
        <img class="w98w-pixelimg" src="/assets/w98w/start-win.png" wbuttonBody>
    </w98w-wbutton>
</div>

<p></p>

<div [style.maxWidth.px]="500">
    <w98w-titlebar [debugMode]="true" iconSrc="/assets/w98w/vbicon.png">
        Control Panel - Add and Remove Programs
    </w98w-titlebar>
</div>

<p></p>

<div [style.maxWidth.px]="500">
    <w98w-titlebar iconSrc="/assets/w98w/vbicon.png">
        Control Panel - Add and Remove Programs
    </w98w-titlebar>
</div>
