<ng-template w98w-menu-template #menuTemp="menuTemplate" let-context>
    <menu w98w-menu [menuContext]="context">
        <li w98w-menu-item="When the saints"></li>
        <li w98w-menu-item="go marching in"></li>
        <li w98w-menu-item="Programs">
            <menu w98w-menu *w98w-menu-template="let context" [menuContext]="context">
                <li w98w-menu-item="Test Menu Entry"></li>
                <li w98w-menu-item="Accessories">
                    <menu w98w-menu *w98w-menu-template="let context" [menuContext]="context">
                        <li w98w-menu-item="Menu Item"></li>
                        <li w98w-menu-item="Again?" [explicitSubMenu]="menuTemp"></li>
                    </menu>
                </li>
            </menu>
        </li>
        <li w98w-menu-item="Really Long">
            <menu w98w-menu *w98w-menu-template="let context" [menuContext]="context">
                <li w98w-menu-item="Recur?" [explicitSubMenu]="menuTemp"></li>
                <li w98w-menu-item="Long"></li>
                <li w98w-menu-item="Long"></li>
                <li w98w-menu-item="Long"></li>
                <li w98w-menu-item="Long"></li>
                <li w98w-menu-item="Long"></li>
                <li w98w-menu-item="Long"></li>
                <li w98w-menu-item="Longg"></li>
                <li w98w-menu-item="Longgg"></li>
                <li w98w-menu-item="Longggg"></li>
            </menu>
        </li>
        <li w98w-menu-item="Even Longer">
            <menu w98w-menu *w98w-menu-template="let context" [menuContext]="context">
                <li w98w-menu-item="Longggg"></li>
                <li w98w-menu-item="Longgg"></li>
                <li w98w-menu-item="Longg"></li>
                <li w98w-menu-item="Long"></li>
                <li w98w-menu-item="Long"></li>
                <li w98w-menu-item="Long"></li>
                <li w98w-menu-item="Long"></li>
                <li w98w-menu-item="Recur?" [explicitSubMenu]="menuTemp"></li>
                <li w98w-menu-item="Long"></li>
                <li w98w-menu-item="Long"></li>
                <li w98w-menu-item="Long"></li>
                <li w98w-menu-item="Long"></li>
                <li w98w-menu-item="Longg"></li>
                <li w98w-menu-item="Longgg"></li>
                <li w98w-menu-item="Longggg"></li>
            </menu>
        </li>
        <li w98w-menu-item="Absurdly Long">
            <ng-template w98w-menu-template #menuAbsurdLong="menuTemplate" let-context>
                <menu w98w-menu [menuContext]="context">
                    <li w98w-menu-item="Longgggggg"></li>
                    <li w98w-menu-item="Longggggg"></li>
                    <li w98w-menu-item="Longgggg"></li>
                    <li w98w-menu-item="Longggg"></li>
                    <li w98w-menu-item="Longgg"></li>
                    <li w98w-menu-item="Longg"></li>
                    <li w98w-menu-item="Long"></li>
                    <li w98w-menu-item="Long"></li>
                    <li w98w-menu-item="Long"></li>
                    <li w98w-menu-item="Long"></li>
                    <li w98w-menu-item="Long"></li>
                    <li w98w-menu-item="Long"></li>
                    <li w98w-menu-item="Long"></li>
                    <li w98w-menu-item="Long"></li>
                    <li w98w-menu-item="Recur?" [explicitSubMenu]="menuTemp"></li>
                    <li w98w-menu-item="Again?" [explicitSubMenu]="menuAbsurdLong"></li>
                    <li w98w-menu-item="Long"></li>
                    <li w98w-menu-item="Long"></li>
                    <li w98w-menu-item="Long"></li>
                    <li w98w-menu-item="Long"></li>
                    <li w98w-menu-item="Long"></li>
                    <li w98w-menu-item="Long"></li>
                    <li w98w-menu-item="Long"></li>
                    <li w98w-menu-item="Long"></li>
                    <li w98w-menu-item="Longg"></li>
                    <li w98w-menu-item="Longgg"></li>
                    <li w98w-menu-item="Longggg"></li>
                    <li w98w-menu-item="Longgggg"></li>
                    <li w98w-menu-item="Longggggg"></li>
                    <li w98w-menu-item="Longgggggg"></li>
                </menu>
            </ng-template>
        </li>
        <li w98w-menu-item="Absurdly Wide">
            <menu w98w-menu *w98w-menu-template="let context" [menuContext]="context">
               <li w98w-menu-item="the quick brown fox jumps over the lazy dog, and then the dog greeted me. the dog is my neighbor's his name is spot. what a cliche name for a dog. the funny thing is he doesn't even have a spot on him."></li>
            </menu>
        </li>
    </menu>
</ng-template>

<ng-template w98w-menu-template #menuDancingChildren="menuTemplate" let-context>
    <menu w98w-menu [menuContext]="context">
        <li *ngFor="let number of (dancing$ | async)" w98w-menu-item="{{ number + 1 }}"></li>
    </menu>
</ng-template>

<ng-template #overflowWndTemp>
    <!-- TODO: can no longer be using CSS resize, need to use JS -->
    <w98w-window [drawFrame]="true" innerGridStyle="overflow: hidden; resize: both;">
        <w98w-titlebar w98w-window-title-bar label="Yeet" iconSrc="/assets/w98w/vbicon.png"></w98w-titlebar>
        <menu w98w-window-menu-bar w98w-menu-bar>
            <li w98w-menu-bar-item [autoMenu]="menuTemp">File</li>
            <li w98w-menu-bar-item [autoMenu]="menuTemp">Edit</li>
            <li w98w-menu-bar-item [autoMenu]="menuTemp">Help</li>
        </menu>
        <p style="white-space: nowrap;">this is some relatively long text in order to demonstrate the overflow-x behavior.</p>

        <p style="white-space: nowrap;">here's a few short lines</p>

        <p style="white-space: nowrap;">to demonstrate</p>

        <p style="white-space: nowrap;">overflow-y</p>

        <p style="white-space: nowrap;">behavior</p>
    </w98w-window>

    <p style="border: 2px solid black; text-align: center;">I shouldn't be wider than the screen.</p>
</ng-template>
