@font-face {
    font-family: 'W98w MS Sans Serif';
    src: url(/assets/w98w/micross.ttf);
}

body {
    background-color: #008080;
}

.w98w-font-ss {
    font-family: 'W98w MS Sans Serif';
}

.w98w-pixelimg {
    /* https://css-tricks.com/keep-pixelated-images-pixelated-as-they-scale/ */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

// don't want to set these globally because i don't want to override user agent styles.
// use case is maybe we have a webbrowser inside the 'universe'
%base {
    font-size: var(--w98w-root-label-font-size);
    font-family: var(--w98w-root-label-font-family);
}

%widget-base {
    @extend %base;
    color: var(--w98w-root-color-text);
    background-color: var(--w98w-root-widget-background-color);
}

%widget-base.w98w-disabled {
    color: var(--w98w-root-color-text-disabled);
}

%button-base {
    @extend %widget-base;

    /* override user agent styles for <button> */
    border: 0;
    text-align: left;
    margin: 0; /* safari ipados */
}

%menu-base {
    /* remove user-agent styles for <menu> */
    margin: 0;
    padding: 0;
}

button.w98w-wbutton {
    @extend %button-base;
}

li[w98w-menu-item] > button {
    @extend %button-base;
}

li[w98w-menu-bar-item] > button {
    @extend %button-base;
}

menu[w98w-menu], menu[w98w-menu-bar] {
    @extend %menu-base;
}

menu[w98w-menu-bar] {
    background-color: var(--w98w-root-widget-background-color);
}

%unwrappable-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

$titlebar-text-margin-v: 4px;
$titlebar-padding-h: 2px;
$titlebar-image-padding-v: 1px;

w98w-titlebar {
    @extend %base;

    background-color: var(--w98w-root-title-bar-active-color);
    color: var(--w98w-root-title-bar-text-color);

    font-weight: bold;

    padding-left: $titlebar-padding-h;
    padding-right: $titlebar-padding-h;

    display: flex;
    align-items: center;

    user-select: none;

    gap: 2px;
}

w98w-titlebar > span.w98w-label {
    @extend %unwrappable-text;

    margin-top: $titlebar-text-margin-v;
    margin-bottom: $titlebar-text-margin-v;

    flex: 1;
}

@mixin em-height($text-margin-v, $my-margin-v) {
    margin-top: $my-margin-v;
    margin-bottom: $my-margin-v;

    height: calc(1em + 2 * $text-margin-v - 2 * $my-margin-v);
}

%w98w-titlebar-em-height {
    @include em-height($titlebar-text-margin-v, $titlebar-image-padding-v);
}

w98w-titlebar > img.w98w-icon {
    @extend %w98w-titlebar-em-height;
    pointer-events: none;  // in the future we're going to have a context menu, don't want img to eat the event
}

w98w-titlebar > div.controlarea {
    @extend %w98w-titlebar-em-height;
}