<h2>pixel alignment</h2>

<style>
    .form-container {
        display: inline-block;
        width: 300px;
        padding: 10px;
        padding-right: 20px;
        background-color: #c0c0c0;
        border-radius: 3px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .form-group {
        display: flex;
    }

    .form-group .form-control {
        margin: 2px;
        flex: 1;
    }

    .draw-container {
        display: inline-block;
        background-color: white;
        border: 2px solid #c0c0c0;
        border-radius: 3px;
        vertical-align: top;
        padding: 10px;
    }

    .draw-target {
        width: 100px;
        height: 100px;
        background-color: whitesmoke;
        margin: auto;

        /* https://css-tricks.com/keep-pixelated-images-pixelated-as-they-scale/ */
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;

        background-repeat: no-repeat;

        overflow: auto;
        resize: both;
    }

</style>

<div class="wrapper">

    <div class="form-container">

        <form (ngSubmit)="onSubmit()">

            <label for="direction">Direction</label>
            <div class="form-group">
                <select id="direction" class="form-control" name="direction" [(ngModel)]="direction">
                    <option *ngFor="let d of directions" [value]="d">{{ d }}</option>
                </select>
            </div>

            <label for="csswidth">CSS width</label>
            <div class="form-group">
                <input id="csswidth" class="form-control" name="csswidth" type="number" [(ngModel)]="csswidth">
                <button class="tool" type="button" (click)="onAutoAssignCssWidth()" title="= Pixel size * Alt count">Auto</button>
            </div>

            <label for="cssheight">CSS height</label>
            <div class="form-group">
                <input id="cssheight" class="form-control" name="cssheight" type="number" [(ngModel)]="cssheight">
                <button class="tool" type="button" (click)="onAutoAssignCssHeight()" title="= Pixel size * Alt count">Auto</button>
            </div>

            <label for="canvaswidth">Canvas width</label>
            <div class="form-group">
                <input id="canvaswidth" class="form-control" name="canvaswidth" type="number" [(ngModel)]="canvaswidth">
                <button class="tool" type="button"
                    [title]="'= CSS width * devicePixelRatio = ' + rawAutoCanvasWidthPreview()"
                    (click)="onAutoAssignCanvasWidth()">Auto</button>
            </div>

            <label for="canvasheight">Canvas height</label>
            <div class="form-group">
                <input id="canvasheight" class="form-control" name="canvasheight" type="number" [(ngModel)]="canvasheight">
                <button class="tool" type="button"
                    [title]="'= CSS height * devicePixelRatio = ' + rawAutoCanvasHeightPreview()"
                    (click)="onAutoAssignCanvasHeight()">Auto</button>
            </div>

            <label for="pixelsize">Pixel size</label>
            <div class="form-group">
                <input id="pixelsize" class="form-control" name="pixelsize" type="number" [(ngModel)]="pixelsize">
            </div>

            <label for="altcount">Alt count</label>
            <div class="form-group">
                <input id="altcount" class="form-control" name="altcount" type="number" [(ngModel)]="altcount">
            </div>

            <div class="form-group">
                <button type="submit">Draw</button>
            </div>
        </form>

    </div>

    <div class="draw-container">
        <div #drawTarget class="draw-target" [ngStyle]="drawTargetStyle"></div>
    </div>

</div>
