<ng-template w98w-menu-template #menuNotepadFile="menuTemplate" let-context>
    <menu w98w-menu [menuContext]="context">
        <li w98w-menu-item="Publish to web..." (activate)="publish()"></li>
    </menu>
</ng-template>

<w98w-window [drawFrame]="true" style="position: absolute;" [absWidth]="400" [absHeight]="400"
    [mainBodyOverflowHidden]="true"
    >
    <w98w-titlebar w98w-window-title-bar label="Notepad" iconSrc="/assets/w98w/vbicon.png" (wm_close)="windowCloser?.destroy()">
    </w98w-titlebar>
    <menu w98w-window-menu-bar w98w-menu-bar>
        <li w98w-menu-bar-item [autoMenu]="menuNotepadFile">File</li>
    </menu>

    <w98w-textarea [multiLine]="true"
        style="width: 100%; height: 100%; box-sizing: border-box;"
        [textareaStyle]="'overflow-y: scroll;'"></w98w-textarea>

</w98w-window>
