<ng-template w98w-menu-template #menuStart="menuTemplate" let-context>
    <menu w98w-menu [menuContext]="context">
        <li w98w-menu-item="Window Launcher Test" (activate)="launchLauncher()"></li>
        <li w98w-menu-item="More Tests" (activate)="router.navigateByUrl('/tests')"></li>
        <li w98w-menu-item="Show Long Menu" [explicitSubMenu]="library.menuTemp"></li>
    </menu>

    <app-test-shared-lib #library></app-test-shared-lib>
</ng-template>

<ng-template #appLauncherMain let-windowCloser="windowCloser">

    <w98w-window [drawFrame]="true" style="position: absolute;" [absLeft]="5" [absTop]="5" [absWidth]="220" [absHeight]="100"
        >
        <w98w-titlebar w98w-window-title-bar label="Generic Window" iconSrc="/assets/w98w/vbicon.png" (wm_close)="windowCloser.destroy()">
        </w98w-titlebar>
        <menu w98w-window-menu-bar w98w-menu-bar>
            <li w98w-menu-bar-item [autoMenu]="library.menuTemp">Test Menu</li>
        </menu>
        <button w98w-wbutton (click)="launchHello()">launch hello</button>

    </w98w-window>

    <app-test-shared-lib #library></app-test-shared-lib>

</ng-template>

<ng-template #appHelloMain let-count="data" let-windowCloser="windowCloser">

    <w98w-window [drawFrame]="true" style="position: absolute;" [absLeft]="5" [absTop]="5" [absWidth]="200" [absHeight]="100"
        >
        <w98w-titlebar w98w-window-title-bar label="Hello {{ count }}" iconSrc="/assets/w98w/vbicon.png" (wm_close)="windowCloser.destroy()">
        </w98w-titlebar>
        <menu w98w-window-menu-bar w98w-menu-bar>
            <li w98w-menu-bar-item [autoMenu]="library.menuTemp">Test Menu</li>
        </menu>
        <p>Hello {{ count }}{{ demo_text }}</p>
    </w98w-window>

    <app-test-shared-lib #library></app-test-shared-lib>

</ng-template>