<ng-template #overflowWndTemp>

    <w98w-window [drawFrame]="true" style="position: absolute;" [absLeft]="0" [absTop]="0">
        <w98w-titlebar w98w-window-title-bar label="Generic Window" iconSrc="/assets/w98w/vbicon.png">
        </w98w-titlebar>
        <menu w98w-window-menu-bar w98w-menu-bar>
            <li w98w-menu-bar-item [autoMenu]="library.menuTemp">File</li>
            <li w98w-menu-bar-item [autoMenu]="library.menuTemp">Edit</li>
            <li w98w-menu-bar-item [autoMenu]="library.menuTemp">Help</li>
        </menu>
        <p>window works!</p>
    </w98w-window>

    <app-test-shared-lib #library></app-test-shared-lib>

</ng-template>