<h2>InteractJS Test</h2>

<style>
    w98w-window {
        width: 20em;
        height: 5em;

        margin: 1em 0;
    }

    h3 {
        display: inline-block;
        margin: 0;
    }
</style>

<w98w-screen [unfixedHeight]="false" [slidingScreenStyle]="'height: 600px; max-height: 90vh;'">

    <div style="height: 100%; background-color: var(--w98w-root-color-desktop-debug);" w98w-cement-client-rect
        #cement="cement">

        <h3>Move/Resize</h3>
        <w98w-window [drawFrame]="true">
            <w98w-titlebar w98w-window-title-bar label="Generic Window" iconSrc="/assets/w98w/vbicon.png">
            </w98w-titlebar>
            <menu w98w-window-menu-bar w98w-menu-bar>
                <li w98w-menu-bar-item [autoMenu]="library.menuTemp">File</li>
                <li w98w-menu-bar-item [autoMenu]="library.menuTemp">Edit</li>
                <li w98w-menu-bar-item [autoMenu]="library.menuTemp">Help</li>
            </menu>
            <p>window works!</p>
        </w98w-window>
    </div>

    <app-test-shared-lib #library></app-test-shared-lib>

</w98w-screen>