<h2>InteractJS Test</h2>

<style>
    .interactable {
        background-color: var(--w98w-root-widget-background-color);

        width: 20em;
        height: 5em;

        margin: 1em 0;
    }
</style>

<div style="height: 600px; max-height: 90vh; background-color: var(--w98w-root-color-desktop-debug);">
    <h3>Normal window</h3>

    <div class="interactable" #normal [w98w-bevel-8split-simple]="BEVELS.WINDOW">
        <w98w-bevel-8split></w98w-bevel-8split>
    </div>

    <h3>Resize mode</h3>

    <div class="interactable" #resizable></div>

    <h3>Drag mode</h3>

    <div class="interactable" #draggable></div>
</div>