<h2>InteractJS Test</h2>

<style>
    .interactable {
        background-color: var(--w98w-root-widget-background-color);

        width: 20em;
        height: 5em;

        margin: 1em 0;
    }

    .modelTitleBar {
        background-color: var(--w98w-root-title-bar-active-color);
        height: 1.3em;
    }

    h3 {
        display: inline-block;
        margin: 0;
    }
</style>

<div
    style="height: 600px; max-height: 90vh; background-color: var(--w98w-root-color-desktop-debug);"
    w98w-cement-client-rect #cement="cement">

    <h3 id="testh3">Normal window</h3>

    <div id="testwin" class="interactable" #normal [w98w-bevel-8split-simple-host]="BEVELS.WINDOW" [simpleHostNoPositionRelative]="true">
        <w98w-bevel-8split></w98w-bevel-8split>
        <div class="modelTitleBar"></div>
    </div>

    <h3>Resize mode</h3>

    <div class="interactable" #resizable [w98w-bevel-8split-simple-host]="BEVELS.WINDOW" [simpleHostNoPositionRelative]="true">
        <w98w-bevel-8split></w98w-bevel-8split>
        <div class="modelTitleBar"></div>
    </div>

    <h3>Drag mode</h3>

    <div class="interactable" #draggable [w98w-bevel-8split-simple-host]="BEVELS.WINDOW" [simpleHostNoPositionRelative]="true">
        <w98w-bevel-8split></w98w-bevel-8split>
        <div class="modelTitleBar"></div>
    </div>
</div>