<ul>
    <li><a routerLink="/desktop">Desktop</a></li>
</ul>
<ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/pixel-alignment">Pixel Alignment</a></li>
    <li><a routerLink="/dpr">DPR</a></li>
    <li><a routerLink="/button">Button</a></li>
    <li><a routerLink="/gen-img-size">Gen Img Size</a></li>
    <li><a routerLink="/wbutton-test">WButton Test</a></li>
    <li><a routerLink="/titlebar-test">Titlebar Test</a></li>
    <li><a routerLink="/screen-test">Screen Test</a></li>
</ul>

<router-outlet></router-outlet>
