<ul>
    <li><a routerLink="">back to Desktop</a></li>
    <li><a routerLink="/tests">Tests Home</a></li>
</ul>
<ul>
    <li><a routerLink="/tests/pixel-alignment">Pixel Alignment</a></li>
    <li><a routerLink="/tests/dpr">DPR</a></li>
    <li><a routerLink="/tests/button">Button</a></li>
    <li><a routerLink="/tests/gen-img-size">Gen Img Size</a></li>
    <li><a routerLink="/tests/wbutton-test">WButton Test</a></li>
    <li><a routerLink="/tests/titlebar-test">Titlebar Test</a></li>
    <li><a routerLink="/tests/screen-test">Screen Test</a></li>
    <li><a routerLink="/tests/menu-test">Menu Test</a></li>
    <li><a routerLink="/tests/popup-test">Popup Test</a></li>
    <li><a routerLink="/tests/window-test">Window Test</a></li>
    <li><a routerLink="/tests/interactjs-test">InteractJS Test</a> move/resize works here</li>
</ul>

<div w98w-root-css-vars style="margin: .5em;">
    <router-outlet></router-outlet>
</div>
