<h2>Titlebar Test</h2>

<h3>Buttons</h3>

<table border="1">
    <tr>
        <td>debug</td>
        <td>
            <a w98w-wbutton [style.width.px]="btnWidth" [style.height.px]="btnHeight" [externalFocus]="btnExternalFocus">
                <w98w-pixel-image [genImg]="GENIMG.DEBUG_BORDER" [cssWidth]="btnImgWidth" [cssHeight]="btnImgHeight" wbuttonBody>
                </w98w-pixel-image>
            </a>
        </td>
    </tr>
    <tr>
        <td>close</td>
        <td>
            <a w98w-wbutton [style.width.px]="btnWidth" [style.height.px]="btnHeight" [externalFocus]="btnExternalFocus">
                <w98w-pixel-image [genImg]="GENIMG.TBAR_X" [cssWidth]="btnImgWidth" [cssHeight]="btnImgHeight" wbuttonBody>
                </w98w-pixel-image>
            </a>
        </td>
    </tr>
    <tr>
        <td>min</td>
        <td>
            <a w98w-wbutton [style.width.px]="btnWidth" [style.height.px]="btnHeight" [externalFocus]="btnExternalFocus">
                <w98w-pixel-image [genImg]="GENIMG.TBAR_MIN" [cssWidth]="btnImgWidth" [cssHeight]="btnImgHeight" wbuttonBody>
                </w98w-pixel-image>
            </a>
        </td>
    </tr>
    <tr>
        <td>min disabled</td>
        <td>
            <a w98w-wbutton [style.width.px]="btnWidth" [style.height.px]="btnHeight" [externalFocus]="btnExternalFocus">
                <w98w-pixel-image [genImg]="GENIMG.TBAR_MIN_DISABLED" [cssWidth]="btnImgWidth" [cssHeight]="btnImgHeight" wbuttonBody>
                </w98w-pixel-image>
            </a>
        </td>
    </tr>
    <tr>
        <td>max</td>
        <td>
            <a w98w-wbutton [style.width.px]="btnWidth" [style.height.px]="btnHeight" [externalFocus]="btnExternalFocus">
                <w98w-pixel-image [genImg]="GENIMG.TBAR_MAX" [cssWidth]="btnImgWidth" [cssHeight]="btnImgHeight" wbuttonBody>
                </w98w-pixel-image>
            </a>
        </td>
    </tr>
    <tr>
        <td>max disabled</td>
        <td>
            <a w98w-wbutton [style.width.px]="btnWidth" [style.height.px]="btnHeight" [externalFocus]="btnExternalFocus">
                <w98w-pixel-image [genImg]="GENIMG.TBAR_MAX_DISABLED" [cssWidth]="btnImgWidth" [cssHeight]="btnImgHeight" wbuttonBody>
                </w98w-pixel-image>
            </a>
        </td>
    </tr>
</table>
