<style>
    @keyframes crawlX {
        from {
            margin-left: 0;
        }
        to {
            margin-left: 100px;
        }
    }

    .animateX {
        animation-duration: 100s;
        animation-name: crawlX;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes crawlY {
        from {
            margin-top: 0;
        }
        to {
            margin-top: 100px;
        }
    }

    .animateY {
        animation-duration: 100s;
        animation-name: crawlY;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
</style>

<h2>Gen Img</h2>

<div>
    <label for="requestedRange">Range</label>
    <input type="number" id="requestedRange" #requestedRangeElement [value]="requestedRange$ | async" (input)="requestedRange$.next(+ requestedRangeElement.value)">
</div>

<div>
    <label for="requestedSz">Size</label>
    <input type="number" id="requestedSz" #requestedSzElement [value]="requestedSz$ | async" (input)="requestedSz$.next(+ requestedSzElement.value)">
</div>

<div>
    <input type="checkbox" id="animateX" #animateXElement (input)="triggerAniX(animateXElement.checked)">
    <label for="animateX">Animate X</label>
</div>

<div>
    <input type="checkbox" id="animateY" #animateYElement (input)="triggerAniY(animateYElement.checked)">
    <label for="animateY">Animate Y</label>
</div>

<p></p>

<div style="resize: both; border: 1px dotted gray; overflow: auto; display: inline-grid; grid-template-columns: 1fr auto; grid-template-rows: 1fr auto;"
     [ngClass]="animationClass">
    <div style="border: 1px solid gray; grid-row: 2; grid-column: 2; padding: 5px;">

        <table *ngFor="let requestedSz of requestedSzArray$ | async" border="1">
            <tr>
                <th>sz</th>
                <th>view</th>
                <th>req</th>
            </tr>

            <tr *ngFor="let i of range$ | async" >
                <td>{{ i }}</td>
                <td>
                    <div style="background-color: red; width: min-content; margin: 2px;">
                        <w98w-pixel-image #pi [genImg]="genImg1"
                            [cssWidth]="requestedSz" [cssHeight]="requestedSz" [debugDrawnSize]="[i, i]">
                        </w98w-pixel-image>
                    </div>
                </td>
                <td>{{ pi.debugRequestedSize }}</td>
            </tr>
        </table>

    </div>
</div>