<h2>Popup Test</h2>

<h3>Generic Popup</h3>

<button w98w-wbutton (click)="popupService.openPopup(msgbox)">show message</button>

<ng-template #msgbox>
    <w98w-msgbox>Hello world!</w98w-msgbox>
</ng-template>

<h3>Menu</h3>

<!--
<div
    w98w-sliding-screen
    style="width: 90%; height: 400px; max-height: 80%; background-color: lightgray;"
    >
-->

<div
    w98w-sliding-screen
    [unfixedHeight]="true"
    style="width: 90%; background-color: lightgray;"
    >

    <div w98w-sliding-screen-main-content [style.backgroundColor]="desktopColor">
        <div [style.height.px]="titleBarHeight" [style.backgroundColor]="titleBarColor"></div>

        <div>
            <button w98w-wbutton (click)="menuService.beginMenu(menuTemp)">show menu</button>
        </div>

        <p>Bork</p>

        <p>Bork</p>

        <ng-template w98w-menu-template #menuTemp="menuTemplate" let-context>
            <menu w98w-menu [menuContext]="context">
                <li w98w-menu-item="When the saints"></li>
                <li w98w-menu-item="go marching in"></li>
                <li w98w-menu-item="Programs">
                    <menu w98w-menu *w98w-menu-template="let context" [menuContext]="context">
                        <li w98w-menu-item="AOL Instant Messenger"></li>
                        <li w98w-menu-item="Accessories">
                            <menu w98w-menu *w98w-menu-template="let context" [menuContext]="context">
                                <li w98w-menu-item="Minesweeper"></li>
                                <li w98w-menu-item="Again?" [explicitSubMenu]="menuTemp"></li>
                            </menu>
                        </li>
                    </menu>
                </li>
                <li w98w-menu-item="Programs Copy">
                    <menu w98w-menu *w98w-menu-template="let context" [menuContext]="context">
                        <li w98w-menu-item="XOL Instant Messenger"></li>
                        <li w98w-menu-item="Xccessories">
                            <menu w98w-menu *w98w-menu-template="let context" [menuContext]="context">
                                <li w98w-menu-item="Xinesweeper"></li>
                                <li w98w-menu-item="Xgain?" [explicitSubMenu]="menuTemp"></li>
                            </menu>
                        </li>
                    </menu>
                </li>
            </menu>
        </ng-template>
    </div>

    <w98w-menu-host w98w-sliding-screen-overlay *ngIf="menuService.currentMenu$ | async"></w98w-menu-host>
</div>

<div>
    <w98w-popup-host></w98w-popup-host>
</div>