<h2>Popup Test</h2>

<h3>Menu</h3>

<w98w-screen
    [style]="'height: 400px; max-height: calc(100vh - 10px); background-color: lightgray; resize: vertical;'"
    [slidingScreenMainContentStyle]="'background-color: var(--w98w-root-color-desktop-debug);'">

    <!-- TODO: can't add border on the side because the content width gets misaligned. i think it's because we measure the sliding screen
                and apply its size to the inside. maybe a concession is that if you want a wrapping border, put sliding screen in a div
                where we actually draw the border.

            UPDATE: now we can't even put a bottom border because we're fixing the height on the content now, courtesy of
                    a menu that overflowed the overlay vertically and stretched the bottom. while testing. but it could happen for real
                    later on, so let's just avoid that. just lighten the bg color instead hah.
            -->

    <div style="margin-left: 20px; margin-top: 20px;">
        <button w98w-wbutton w98w-menu-anchor [autoMenu]="library.menuTemp">down menu</button>
    </div>

    <div style="position: absolute; left: 20px; bottom: 20px;">
        <button w98w-wbutton w98w-menu-anchor [autoMenu]="library.menuTemp">up menu</button>
    </div>

    <ng-container *ngTemplateOutlet="library.overflowWndTemp"></ng-container>

    <app-test-shared-lib #library></app-test-shared-lib>
</w98w-screen>
