<h2>Menu Test</h2>

<style>
    /* they're block elements, but we don't want them to take up all the width */
    menu[w98w-menu] {
        display: flex;
    }
</style>

<div
    w98w-sliding-screen
    [unfixedHeight]="true"
    style="background-color: lightgray; width: 100%;"
    >

    <div w98w-sliding-screen-main-content style="overflow-x: auto;" [style.backgroundColor]="ROOTVARS.colorDesktop.var" #dirSSMC="ssMainContent">

        <h3 style="margin-top: 0;">Import from other test</h3>

        <div>
            <button
                w98w-wbutton
                w98w-menu-anchor #ankBtnDown="menuAnchor"
                (click)="menuService.beginMenu(library.menuTemp, ankBtnDown.element.nativeElement)"
                >down menu</button>
        </div>

        <h3>Button Trigger</h3>

        <div>
            <button w98w-wbutton extraLabel="Start" (click)="btnStart.pressed = !btnStart.pressed"
                #btnStart>

                <img src="/assets/w98w/start-win.png" wbuttonBody>
            </button>
        </div>

        <menu w98w-menu>
            <li w98w-menu-item="Windows Update"></li>
            <li w98w-menu-item="Programs &gt;"></li>
            <li w98w-menu-item="Run..."></li>
            <li w98w-menu-item="Shut Down"></li>
        </menu>

        <menu w98w-menu>
            <li w98w-menu-item="AOL Instant Messenger"></li>
            <li w98w-menu-item="Accessories &gt;"></li>
            <li w98w-menu-item="Startup &gt;"></li>
        </menu>

        <menu w98w-menu>
            <li w98w-menu-item="Minesweeper"></li>
        </menu>

        <!-- empty menu for Startup -->
        <menu w98w-menu>
        </menu>

        <h3>Menu Bar</h3>

        <p>Help is empty in order to test not having a menu and it still working.</p>

        <menu w98w-menu-bar>
            <li w98w-menu-bar-item w98w-menu-anchor #ankMbiFile="menuAnchor" (click)="menuService.beginMenu(library.menuTemp, ankMbiFile.element.nativeElement)">File</li>
            <li w98w-menu-bar-item w98w-menu-anchor #ankMbiEdit="menuAnchor" (click)="menuService.beginMenu(library.menuTemp, ankMbiEdit.element.nativeElement)">Edit</li>
            <li w98w-menu-bar-item w98w-menu-anchor #ankMbiHelp="menuAnchor" (click)="menuService.beginMenu(library.menuTemp, ankMbiHelp.element.nativeElement)">Help</li>
        </menu>

        <menu w98w-menu>
            <li w98w-menu-item="Open"></li>
            <li w98w-menu-item="Save"></li>
            <li w98w-menu-item="Close"></li>
            <li w98w-menu-item="Exit"></li>
        </menu>

        <menu w98w-menu>
            <li w98w-menu-item="Cut"></li>
            <li w98w-menu-item="Copy"></li>
            <li w98w-menu-item="Paste"></li>
        </menu>

        <h3>Context Menu</h3>

        <p>Context menu active inside green div</p>

        <div style="width: 800px; max-width: 80%; height: 400px; max-height: 80%; background-color: green; border: 1px solid black;">
        </div>

        <menu w98w-menu>
            <li w98w-menu-item="Arrange Icons"></li>
            <li w98w-menu-item="Display Properties"></li>
        </menu>

        <h3>Scrollable Menu</h3>

        <p>Not looking that great yet obviously</p>

        <div style="max-height: 5em; overflow-y: scroll; display: inline-block;">
            <menu w98w-menu>
                <li w98w-menu-item="Cut"></li>
                <li w98w-menu-item="Copy"></li>
                <li w98w-menu-item="Paste"></li>
                <li w98w-menu-item="Insert"></li>
                <li w98w-menu-item="Delete"></li>
                <li w98w-menu-item="Replace"></li>
                <li w98w-menu-item="Push"></li>
                <li w98w-menu-item="Pop"></li>
                <li w98w-menu-item="Clear"></li>
                <li w98w-menu-item="Under"></li>
                <li w98w-menu-item="Over"></li>
                <li w98w-menu-item="Top"></li>
                <li w98w-menu-item="Right"></li>
                <li w98w-menu-item="Bottom"></li>
                <li w98w-menu-item="Left"></li>
            </menu>
        </div>

        <h3>Import from other test</h3>

        <div>
            <button
                w98w-wbutton
                w98w-menu-anchor #ankBtnDown2="menuAnchor"
                (click)="menuService.beginMenu(library.menuTemp, ankBtnDown2.element.nativeElement)"
                >down menu</button>
        </div>

        <app-test-menu-lib #library></app-test-menu-lib>
    </div>

    <w98w-menu-host *ngIf="menuService.activeRootMenu$ | async"
        w98w-menu-layout-size-observer [rootElement]="dirSSMC.element.nativeElement"
        w98w-sliding-screen-overlay style="height: 100%;"
    ></w98w-menu-host>
</div>
