<h2>Menu Test</h2>

<h3>Initial</h3>

<p>Green div to show removing user-agent margins</p>

<div style="background-color: green; font-size: 0;">
    <menu w98w-menu>
        <li w98w-menu-item>Hello</li>
        <li w98w-menu-item>World</li>
        <li w98w-menu-item>Exit Simulation</li>
    </menu>
</div>

<h3>Button Trigger</h3>

<div>
    <button w98w-wbutton extraLabel="Start" (click)="btnStart.pressed = !btnStart.pressed"
        #btnStart>

        <img src="/assets/w98w/start-win.png" wbuttonBody>
    </button>
</div>

<menu w98w-menu>
    <li w98w-menu-item>Windows Update</li>
    <li w98w-menu-item>Programs &gt;</li>
    <li w98w-menu-item>Run...</li>
    <li w98w-menu-item>Shut Down</li>
</menu>

<menu w98w-menu>
    <li w98w-menu-item>AOL Instant Messenger</li>
    <li w98w-menu-item>Accessories &gt;</li>
    <li w98w-menu-item>Startup &gt;</li>
</menu>

<menu w98w-menu>
    <li w98w-menu-item>Minesweeper</li>
</menu>

<!-- empty menu for Startup -->
<menu w98w-menu>
</menu>

<h3>Menu Bar</h3>

<p>Help is empty in order to test not having a menu and it still working.</p>

<menu w98w-menu-bar>
    <li w98w-menu-bar-item>File</li>
    <li w98w-menu-bar-item>Edit</li>
    <li w98w-menu-bar-item>Help</li>
</menu>

<menu w98w-menu>
    <li w98w-menu-item>Open</li>
    <li w98w-menu-item>Save</li>
    <li w98w-menu-item>Close</li>
    <li w98w-menu-item>Exit</li>
</menu>

<menu w98w-menu>
    <li w98w-menu-item>Cut</li>
    <li w98w-menu-item>Copy</li>
    <li w98w-menu-item>Paste</li>
</menu>

<h3>Context Menu</h3>

<p>Context menu active inside green div</p>

<div style="width: 800px; max-width: 80%; height: 400px; max-height: 80%; background-color: green;">
</div>

<menu w98w-menu>
    <li w98w-menu-item>Arrange Icons</li>
    <li w98w-menu-item>Display Properties</li>
</menu>

<h3>Scrollable Menu</h3>

<p>Not looking that great yet obviously</p>

<menu w98w-menu style="max-height: 5em; overflow: scroll;">
    <li w98w-menu-item>Cut</li>
    <li w98w-menu-item>Copy</li>
    <li w98w-menu-item>Paste</li>
    <li w98w-menu-item>Insert</li>
    <li w98w-menu-item>Delete</li>
    <li w98w-menu-item>Replace</li>
    <li w98w-menu-item>Push</li>
    <li w98w-menu-item>Pop</li>
    <li w98w-menu-item>Clear</li>
    <li w98w-menu-item>Under</li>
    <li w98w-menu-item>Over</li>
    <li w98w-menu-item>Top</li>
    <li w98w-menu-item>Right</li>
    <li w98w-menu-item>Bottom</li>
    <li w98w-menu-item>Left</li>
</menu>
