<h2>Menu Test</h2>

<style>
    /* they're block elements, but we don't want them to take up all the width */
    menu[w98w-menu] {
        display: flex;
    }
</style>

<w98w-screen
    [unfixedHeight]="true"
    [slidingScreenMainContentStyle]="{overflowX: 'auto', backgroundColor: ROOTVARS.colorDesktopDebug.var}">
    <!-- TODO: i don't remember why overflowX is needed -->

    <h3 style="margin-top: 0;">Import from other test</h3>

    <div>
        <button w98w-wbutton w98w-menu-anchor [autoMenu]="library.menuTemp">down menu</button>
    </div>

    <h3>Empty Menu</h3>

    <menu w98w-menu>
    </menu>

    <h3>Menu Bar</h3>

    <menu w98w-menu-bar>
        <li w98w-menu-bar-item [autoMenu]="library.menuTemp">File</li>
        <li w98w-menu-bar-item [autoMenu]="library.menuTemp">Edit</li>
        <li w98w-menu-bar-item [autoMenu]="library.menuTemp">Help</li>
    </menu>

    <p>Now test overflowing onto the next line</p>

    <menu w98w-menu-bar>
        <li w98w-menu-bar-item [autoMenu]="library.menuTemp">File</li>
        <li w98w-menu-bar-item [autoMenu]="library.menuTemp">Edit</li>
        <li w98w-menu-bar-item [autoMenu]="library.menuTemp">Help</li>
        <li w98w-menu-bar-item [autoMenu]="library.menuTemp">How much wood would the</li>
        <li w98w-menu-bar-item [autoMenu]="library.menuTemp">woodchuck chuck if the</li>
        <li w98w-menu-bar-item [autoMenu]="library.menuTemp">woodchuck could chuck</li>
        <li w98w-menu-bar-item [autoMenu]="library.menuTemp">wood?</li>
        <li w98w-menu-bar-item [autoMenu]="library.menuTemp">A woodchuck would chuck as</li>
        <li w98w-menu-bar-item [autoMenu]="library.menuTemp">much wood as a woodchuck</li>
        <li w98w-menu-bar-item [autoMenu]="library.menuTemp">could chuck if a</li>
        <li w98w-menu-bar-item [autoMenu]="library.menuTemp">woodchuck could chuck</li>
        <li w98w-menu-bar-item [autoMenu]="library.menuTemp">wood.</li>
    </menu>

    <h3><s>Context Menu</s> not implemented</h3>

    <p>Context menu active inside green div</p>

    <div style="width: 800px; max-width: 80%; height: 400px; max-height: 80%; background-color: green; border: 1px solid black;">
    </div>

    <menu w98w-menu>
        <li w98w-menu-item="Arrange Icons"></li>
        <li w98w-menu-item="Display Properties"></li>
    </menu>

    <h3><s>Scrollable Menu</s> not implemented</h3>

    <p>Not looking that great yet obviously</p>

    <div style="max-height: 5em; overflow-y: scroll; display: inline-block;">
        <menu w98w-menu>
            <li w98w-menu-item="Cut"></li>
            <li w98w-menu-item="Copy"></li>
            <li w98w-menu-item="Paste"></li>
            <li w98w-menu-item="Insert"></li>
            <li w98w-menu-item="Delete"></li>
            <li w98w-menu-item="Replace"></li>
            <li w98w-menu-item="Push"></li>
            <li w98w-menu-item="Pop"></li>
            <li w98w-menu-item="Clear"></li>
            <li w98w-menu-item="Under"></li>
            <li w98w-menu-item="Over"></li>
            <li w98w-menu-item="Top"></li>
            <li w98w-menu-item="Right"></li>
            <li w98w-menu-item="Bottom"></li>
            <li w98w-menu-item="Left"></li>
        </menu>
    </div>

    <h3>Menu with dancing children</h3>

    <div>
        <button w98w-wbutton w98w-menu-anchor [autoMenu]="library.menuDancingChildren">Test</button>
    </div>

    <h3>Import from other test</h3>

    <div>
        <button w98w-wbutton w98w-menu-anchor [autoMenu]="library.menuTemp">down menu</button>
    </div>

    <app-test-shared-lib #library></app-test-shared-lib>

</w98w-screen>
