<style>
    table {
        max-width: 700px;
    }

    td.clipme {
        max-width: 600px;
        overflow: hidden;
    }
</style>

<h2>WButton Test</h2>

<h3>Goal 1</h3>

<p>WButton is ready to accept <code>width</code> and <code>height</code> properties.
Bevel and focus ants will work. It can take a body to put something into its contents.</p>

<table border="1">
    <tr>
        <td>Just show it</td>
        <td><button w98w-wbutton></button></td>
    </tr>
    <tr>
        <td>Width = 200</td>
        <td><button w98w-wbutton [style.width.px]="200"></button></td>
    </tr>
    <tr>
        <td>Height = 30</td>
        <td><button w98w-wbutton [style.height.px]="30"></button></td>
    </tr>
    <tr>
        <td>Width = 200, Height = 30</td>
        <td>
          <button w98w-wbutton [style.width.px]="200" [style.height.px]="30">a</button>
        </td>
    </tr>
    <tr>
        <td>No W/H, add text content</td>
        <td>
          <button w98w-wbutton>Hello world!</button>
        </td>
    </tr>
    <tr>
        <td>Image</td>
        <td>
            <button w98w-wbutton>
                <img src="/assets/w98w/greenbox.png" wbuttonBody>
            </button>
        </td>
    </tr>
    <tr>
        <td>Div</td>
        <td>
            <button w98w-wbutton>
                <div wbuttonBody style="background-color: red; width: 25px; height: 25px;"></div>
            </button>
        </td>
    </tr>
</table>

<h3>Goal 2</h3>

<p>WButton taking content is more refined. One child vs two children. Configurable stretch for first child.</p>

<table border="1">
    <tr>
        <td>1 child, given width</td>
        <td>
            <button w98w-wbutton [style.width.px]="200">
                <img src="/assets/w98w/greenbox.png" wbuttonBody>
            </button>
        </td>
    </tr>
    <tr>
        <td>1 child, given height</td>
        <td>
            <button w98w-wbutton [style.height.px]="60">
                <img src="/assets/w98w/greenbox.png" wbuttonBody>
            </button>
        </td>
    </tr>
    <tr>
        <td>1 child, given width and height</td>
        <td>
            <button w98w-wbutton [style.width.px]="200" [style.height.px]="60">
                <img src="/assets/w98w/greenbox.png" wbuttonBody>
            </button>
        </td>
    </tr>
    <tr>
        <td>1 child, given width, stretch</td>
        <td>
            <button w98w-wbutton [style.width.px]="200">
                <img src="/assets/w98w/greenbox.png" wbuttonBody [stretchImg]="true">
            </button>
        </td>
    </tr>
    <tr>
        <td>1 child, given height, stretch</td>
        <td>
            <button w98w-wbutton [style.height.px]="60">
                <img src="/assets/w98w/greenbox.png" wbuttonBody [stretchImg]="true">
            </button>
        </td>
    </tr>
    <tr>
        <td>1 child, given width and height, stretch</td>
        <td>
            <button w98w-wbutton [style.width.px]="200" [style.height.px]="60">
                <img src="/assets/w98w/greenbox.png" wbuttonBody [stretchImg]="true">
            </button>
        </td>
    </tr>

    <tr>
        <td>2 child, given nothing</td>
        <td>
            <button w98w-wbutton extraLabel="hello world">
                <img src="/assets/w98w/greenbox.png" wbuttonBody>
            </button>
        </td>
    </tr>

    <tr>
        <td>2 child, given width</td>
        <td>
            <button w98w-wbutton [style.width.px]="200" extraLabel="hello world">
                <img src="/assets/w98w/greenbox.png" wbuttonBody>
            </button>
        </td>
    </tr>
    <tr>
        <td>2 child, given height</td>
        <td>
            <button w98w-wbutton [style.height.px]="60" extraLabel="hello world">
                <img src="/assets/w98w/greenbox.png" wbuttonBody>
            </button>
        </td>
    </tr>
    <tr>
        <td>2 child, given width and height</td>
        <td>
            <button w98w-wbutton [style.width.px]="200" [style.height.px]="60" extraLabel="hello world">
                <img src="/assets/w98w/greenbox.png" wbuttonBody>
            </button>
        </td>
    </tr>
    <tr>
        <td>2 child, given width, stretch</td>
        <td>
            <button w98w-wbutton [style.width.px]="200" extraLabel="hello world">
                <img src="/assets/w98w/greenbox.png" wbuttonBody [stretchImg]="true">
            </button>
        </td>
    </tr>
    <tr>
        <td>2 child, given height, stretch</td>
        <td>
            <button w98w-wbutton [style.height.px]="60" extraLabel="hello world">
                <img src="/assets/w98w/greenbox.png" wbuttonBody [stretchImg]="true">
            </button>
        </td>
    </tr>
    <tr>
        <td>2 child, given width and height, stretch</td>
        <td>
            <button w98w-wbutton [style.width.px]="200" [style.height.px]="60" extraLabel="hello world">
                <img src="/assets/w98w/greenbox.png" wbuttonBody [stretchImg]="true">
            </button>
        </td>
    </tr>
    <tr>
        <td>2 child, given smaller height, normal width, stretch</td>
        <td>
            <button w98w-wbutton [style.width.px]="200" [style.height.px]="30" extraLabel="hello world">
                <img src="/assets/w98w/greenbox.png" wbuttonBody [stretchImg]="true">
            </button>
        </td>
    </tr>
    <tr>
        <td>2 child, img with em height</td>
        <td>
            <button w98w-wbutton extraLabel="hello world">
                <img src="/assets/w98w/greenbox.png" wbuttonBody [emHeightImg]="true">
            </button>
        </td>
    </tr>
</table>

<h3>Overflow Behavior</h3>

<table border="1">
    <tr>
        <td>Long text, no dimensions</td>
        <td>
            <button w98w-wbutton>{{ longText }}</button>
        </td>
    </tr>
    <tr>
        <td>Long text, set width</td>
        <td>
            <button w98w-wbutton [style.width.px]="500">{{ longText }}</button>
        </td>
    </tr>
    <tr>
        <td>Long text, set width and height</td>
        <td>
            <button w98w-wbutton [style.width.px]="500" [style.height.px]="30">{{ longText }}</button>
        </td>
    </tr>
    <tr>
        <td>Div, long text, set width</td>
        <td>
            <button w98w-wbutton [extraLabel]="longText" [style.width.px]="500">
                <div wbuttonBody style="background-color: red; width: 25px; height: 25px;"></div>
            </button>
        </td>
    </tr>
    <tr>
        <td>Img, long text, set width</td>
        <td>
            <button w98w-wbutton [extraLabel]="longText" [style.width.px]="500">
                <img src="/assets/w98w/greenbox.png" wbuttonBody>
            </button>
        </td>
    </tr>
    <tr>
        <td>Img, long text, no dimensions</td>
        <td class="clipme">
            <button w98w-wbutton [extraLabel]="longText">
                <div wbuttonBody style="background-color: red; width: 25px; height: 25px;"></div>
            </button>
            <p>it'll keep going, see, it's clipped</p>
        </td>
    </tr>
    <tr>
        <td>Div, long text, 100% max-width</td>
        <td>
            <div style="width: 100px; background-color: green; padding: 10px; overflow: auto; resize: horizontal; margin-top: 2px;">
                <button w98w-wbutton extraLabel="this text isn't that long" [style.maxWidth.%]="100">
                    <div wbuttonBody style="background-color: red; width: 25px; height: 25px;"></div>
                </button>
            </div>
        </td>
    </tr>
    <tr>
        <td>Div, long text, 100% width</td>
        <td>
            <div style="width: 400px; background-color: green; padding: 10px; overflow: auto; resize: horizontal; margin-top: 2px;">
                <button w98w-wbutton [extraLabel]="longText" [style.width.%]="100">
                    <div wbuttonBody style="background-color: red; width: 25px; height: 25px;"></div>
                </button>
            </div>
            <p>a vertical taskbar would probably do it this way, at least at first?</p>
        </td>
    </tr>
    <tr>
        <td>Div, text, flex children, equal width</td>
        <td>
            <div style="width: 400px; background-color: green; padding: 10px; overflow: auto; resize: horizontal; margin-top: 2px; display: flex;">
                <button w98w-wbutton [extraLabel]="longText" style="flex: 1 1 0;">
                    <div wbuttonBody style="background-color: red; width: 25px; height: 25px;"></div>
                </button>
                <button w98w-wbutton extraLabel="this text isn't that long" style="flex: 1 1 0;">
                    <div wbuttonBody style="background-color: red; width: 25px; height: 25px;"></div>
                </button>
            </div>
        </td>
    </tr>
    <tr>
        <td>Div, text, flex children, fixed width</td>
        <td>
            <div style="width: 400px; background-color: green; padding: 10px; overflow: auto; resize: horizontal; margin-top: 2px; display: flex;">
                <button w98w-wbutton [extraLabel]="longText" [style.width.px]="170">
                    <div wbuttonBody style="background-color: red; width: 25px; height: 25px;"></div>
                </button>
                <button w98w-wbutton extraLabel="this text isn't that long" [style.width.px]="170">
                    <div wbuttonBody style="background-color: red; width: 25px; height: 25px;"></div>
                </button>
            </div>
            <p>horizontal taskbar would do this</p>
        </td>
    </tr>
</table>

<h3>External Focus</h3>

<p>don't allocate space for the focus ants, and let the browser do its thing.</p>

<p>save many pixels by not drawing focus internally</p>

<table border="1">
    <tr>
        <td>Control: no w or h specified</td>
        <td>
            <button w98w-wbutton>
                <img src="/assets/w98w/greenbox.png" wbuttonBody>
            </button>
        </td>
    </tr>
    <tr>
        <td>Experiment: no w or h specified, external focus</td>
        <td>
            <button w98w-wbutton [externalFocus]="true">
                <img src="/assets/w98w/greenbox.png" wbuttonBody>
            </button>
        </td>
    </tr>
</table>

<h3>Disabled, Pressed</h3>

<p>disabled: click to acquire disability</p>

<p>pressed: click to toggle pressed</p>

<table border="1">
    <tr>
        <td>Disabled, text</td>
        <td>
            <button w98w-wbutton [disabled]="whichDisabled == 1" (click)="whichDisabled = 1">Hey</button>
        </td>
    </tr>
    <tr>
        <td>Disabled, img</td>
        <td>
            <button w98w-wbutton [disabled]="whichDisabled == 2" (click)="whichDisabled = 2">
                <img src="/assets/w98w/start-win.png" wbuttonBody>
            </button>
        </td>
    </tr>
    <tr>
        <td>Disabled, pixel image (div)</td>
        <td>
            <button w98w-wbutton [externalFocus]="true" [disabled]="whichDisabled == 3" (click)="whichDisabled = 3"
                #btnDisabledPixelImg>

                <w98w-pixel-image
                    [genImg]="btnDisabledPixelImg.disabled ? GENIMG.TBAR_MAX_DISABLED : GENIMG.TBAR_MAX"
                    [cssWidth]="17" [cssHeight]="15"
                    wbuttonBody [showDisabledEffect]="false">
                </w98w-pixel-image>
            </button>
        </td>
    </tr>
    <tr>
        <td>Disabled, Pressed</td>
        <td>
            <button w98w-wbutton extraLabel="Start" [pressed]="true" [disabled]="whichDisabled == 4" (click)="whichDisabled = 4">
                <img src="/assets/w98w/greenbox.png" wbuttonBody>
            </button>
        </td>
    </tr>
    <tr>
        <td>Pressed</td>
        <td>
            <button w98w-wbutton extraLabel="Start" [pressed]="true" (click)="btnPressedFlipFlop.pressed = !btnPressedFlipFlop.pressed"
                #btnPressedFlipFlop>

                <img src="/assets/w98w/greenbox.png" wbuttonBody>
            </button>
        </td>
    </tr>
</table>

<h3>For use in menus</h3>

<table border="1">
    <tr>
        <td>Menu item, no width</td>
        <td>
            <li w98w-menu-item="Programs" [debugShowSubMenuIndicator]="true"></li>
        </td>
    </tr>
    <tr>
        <td>Menu item, given width</td>
        <td>
            <div style="width: 200px; background-color: green; padding: 10px; overflow: auto; resize: horizontal; margin-top: 2px;">
                <li w98w-menu-item="Accessories" [debugShowSubMenuIndicator]="true" [style.width.%]="100"></li>
            </div>
        </td>
    </tr>
    <tr>
        <td>Menu item, icon, no width</td>
        <td>
            <li w98w-menu-item="Programs" [debugShowSubMenuIndicator]="true" iconImgSrc="/assets/w98w/vbicon.png"></li>
        </td>
    </tr>
    <tr>
        <td>Menu item, icon, given width</td>
        <td>
            <div style="width: 200px; background-color: green; padding: 10px; overflow: auto; resize: horizontal; margin-top: 2px;">
                <li w98w-menu-item="Accessories" [debugShowSubMenuIndicator]="true" iconImgSrc="/assets/w98w/vbicon.png" [style.width.%]="100"></li>
            </div>
        </td>
    </tr>
    <tr>
        <td>Menu bar item</td>
        <td style="display: flex;">
            <li w98w-menu-bar-item>File</li>
            <li w98w-menu-bar-item>Edit</li>
            <li w98w-menu-bar-item>View</li>
            <li w98w-menu-bar-item>Help</li>
        </td>
    </tr>
</table>
