<style>
    table {
        max-width: 700px;
    }
</style>

<h2>WButton Test</h2>

<h3>Goal 1</h3>

<p>WButton is ready to accept <code>width</code> and <code>height</code> properties.
Bevel and focus ants will work. It can take a body to put something into its contents.</p>

<table border="1">
    <tr>
        <td>Just show it</td>
        <td><w98w-wbutton></w98w-wbutton></td>
    </tr>
    <tr>
        <td>Width = 200</td>
        <td><w98w-wbutton [width]="200"></w98w-wbutton></td>
    </tr>
    <tr>
        <td>Height = 30</td>
        <td><w98w-wbutton [height]="30"></w98w-wbutton></td>
    </tr>
    <tr>
        <td>Width = 200, Height = 30</td>
        <td>
          <w98w-wbutton [width]="200" [height]="30">
            <span wbuttonContent>a</span>
          </w98w-wbutton>
        </td>
    </tr>
    <tr>
        <td>No W/H, add text content</td>
        <td>
          <w98w-wbutton>
            <span wbuttonContent>Hello world!</span>
          </w98w-wbutton>
        </td>
    </tr>
    <tr>
        <td>Image</td>
        <td>
            <w98w-wbutton>
                <img src="/assets/w98w/greenbox.png" wbuttonContent>
            </w98w-wbutton>
        </td>
    </tr>
    <tr>
        <td>Div</td>
        <td>
            <w98w-wbutton>
                <div wbuttonContent style="background-color: red; width: 25px; height: 25px;"></div>
            </w98w-wbutton>
        </td>
    </tr>
</table>

<h3>Goal 2</h3>

<p>WButton taking content is more refined. One child vs two children. Configurable stretch for first child.</p>

<table border="1">
    <tr>
        <td>1 child, given width</td>
        <td>
            <w98w-wbutton [width]="200">
                <img src="/assets/w98w/greenbox.png" wbuttonContent>
            </w98w-wbutton>
        </td>
    </tr>
    <tr>
        <td>1 child, given height</td>
        <td>
            <w98w-wbutton [height]="60">
                <img src="/assets/w98w/greenbox.png" wbuttonContent>
            </w98w-wbutton>
        </td>
    </tr>
    <tr>
        <td>1 child, given width and height</td>
        <td>
            <w98w-wbutton [width]="200" [height]="60">
                <img src="/assets/w98w/greenbox.png" wbuttonContent>
            </w98w-wbutton>
        </td>
    </tr>
    <tr>
        <td>1 child, given width, stretch</td>
        <td>
            <w98w-wbutton [width]="200">
                <img src="/assets/w98w/greenbox.png" wbuttonContent [stretchImg]="true">
            </w98w-wbutton>
        </td>
    </tr>
    <tr>
        <td>1 child, given height, stretch</td>
        <td>
            <w98w-wbutton [height]="60">
                <img src="/assets/w98w/greenbox.png" wbuttonContent [stretchImg]="true">
            </w98w-wbutton>
        </td>
    </tr>
    <tr>
        <td>1 child, given width and height, stretch</td>
        <td>
            <w98w-wbutton [width]="200" [height]="60">
                <img src="/assets/w98w/greenbox.png" wbuttonContent [stretchImg]="true">
            </w98w-wbutton>
        </td>
    </tr>

    <tr>
        <td>2 child, given nothing</td>
        <td>
            <w98w-wbutton>
                <img src="/assets/w98w/greenbox.png" wbuttonContent>
                <span wbuttonLabel>hello world</span>
            </w98w-wbutton>
        </td>
    </tr>

    <tr>
        <td>2 child, given width</td>
        <td>
            <w98w-wbutton [width]="200">
                <img src="/assets/w98w/greenbox.png" wbuttonContent>
                <span wbuttonLabel>hello world</span>
            </w98w-wbutton>
        </td>
    </tr>
    <tr>
        <td>2 child, given height</td>
        <td>
            <w98w-wbutton [height]="60">
                <img src="/assets/w98w/greenbox.png" wbuttonContent>
                <span wbuttonLabel>hello world</span>
            </w98w-wbutton>
        </td>
    </tr>
    <tr>
        <td>2 child, given width and height</td>
        <td>
            <w98w-wbutton [width]="200" [height]="60">
                <img src="/assets/w98w/greenbox.png" wbuttonContent>
                <span wbuttonLabel>hello world</span>
            </w98w-wbutton>
        </td>
    </tr>
    <tr>
        <td>2 child, given width, stretch</td>
        <td>
            <w98w-wbutton [width]="200">
                <img src="/assets/w98w/greenbox.png" wbuttonContent [stretchImg]="true">
                <span wbuttonLabel>hello world</span>
            </w98w-wbutton>
        </td>
    </tr>
    <tr>
        <td>2 child, given height, stretch</td>
        <td>
            <w98w-wbutton [height]="60">
                <img src="/assets/w98w/greenbox.png" wbuttonContent [stretchImg]="true">
                <span wbuttonLabel>hello world</span>
            </w98w-wbutton>
        </td>
    </tr>
    <tr>
        <td>2 child, given width and height, stretch</td>
        <td>
            <w98w-wbutton [width]="200" [height]="60">
                <img src="/assets/w98w/greenbox.png" wbuttonContent [stretchImg]="true">
                <span wbuttonLabel>hello world</span>
            </w98w-wbutton>
        </td>
    </tr>
    <tr>
        <td>2 child, given smaller height, normal width, stretch</td>
        <td>
            <w98w-wbutton [width]="200" [height]="30">
                <img src="/assets/w98w/greenbox.png" wbuttonContent [stretchImg]="true">
                <span wbuttonLabel>hello world</span>
            </w98w-wbutton>
        </td>
    </tr>
</table>
